# Ignore files with no extention.
*
!*/
!*.*
!LICENSE

# Ignore hidden files, but not the license or github files.
.*
!.github/
!.github/**
!.gitignore

# Normal ignores.
*.exe
nimcache
*.pdb
*.ilk
*.out

# Project specific ignores.
